* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  background-color: rgb(221, 103, 82);
  padding: 10px 0;
}
.header img {
  max-width: 120px;
}
